.main-input {
    font-size: 1.5rem;
    padding: 2px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-bottom: 2px solid var(--color-outline);
    outline: none;
    transition: 0.2s;
}

.main-input:focus {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 5px 5px 10px 1px rgba(34, 34, 34, 0.4);
    -moz-box-shadow: 5px 5px 10px 1px rgba(34, 34, 34, 0.4);
    box-shadow: 5px 5px 10px 1px rgba(34, 34, 34, 0.4);
}

.main-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}